
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/bootstrap';

table.table-sm
{
	td,th
	{
		padding: 1px;
		font-size: 0.8rem;
		text-align: center;
	}

	td
	{
		cursor: pointer;
	}
}

.tableFixHead
{
	overflow: auto;
	height: 100px;
}
.tableFixHead thead th
{
	position: sticky;
	top: 0;
	z-index: 1;
}

.p-relative
{
	position: relative;
}

.p-sticky
{
	position: sticky;
	top: 0px;
}


.hide-selection
{
	user-select: none;
}