
.table-file
{
	overflow: auto;
	height: 100px;

	user-select: none;

	td,th
	{
		padding: 4px;
		font-size: 0.625rem;
		text-align: center;
	}

	th
	{
		color: $table-head-color;
	}

	td
	{
		cursor: pointer;
	}

	td:last-child,
	th:last-child
	{
		padding-right: 4px !important;
	}

	th:first-child,
	td:first-child
	{
		padding-left: 4px !important;
	}
}

.table-file thead th
{
	position: sticky;
	top: 0;
	z-index: 1;
}

.table-inner-bordered
{
	
	tbody
	{
		tr:last-child
		{
			border-bottom: 0;
		}
	}

	td:last-child,
	th:last-child
	{
		border-right: 0;
	}

	th:first-child,
	td:first-child
	{
		border-left: 0;
	}
}

.table .cell-disabled
{
	background: $gray-100;
}

.p-relative
{
	position: relative;
}

.p-sticky
{
	position: sticky;
	top: 0.75rem;
}

.table-xs
{
	font-size: 0.7125rem;

	td, th
	{
		padding: 0.5rem 0.5rem;
	}
}

.hex-inp
{
	width: 3em;
	display: inline-block;
}

.table-highlight
{
	border-color: $table-border-color !important;
	background-color: $table-color !important;
	color: white !important;

}